
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DiasDeLaSemana</title>
</head>
<body>
    <div> 
        Nombre de dia de la semana: @ViewBag.NombreDia
    </div>
</body>
</html>
