
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EjercicioOut</title>
</head>
<body>
    <div>
        <h2>Ejercicio Out</h2>
        Texto Original: @ViewBag.TextoOriginal
        Texto Invertido: @ViewBag.TextoInvertido
    </div>
</body>
</html>
