
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EjercicioGenerics</title>
</head>
<body>
    <div>
        <h2>Ejercicio Out</h2>
        Saludo Grupal: @ViewBag.SaludoGrupal
    </div>
</body>
</html>
